@tailwind base;
@tailwind components;
@tailwind utilities;

.text-animate {
  background: linear-gradient(
    to right,
    #763af5 20%,
    #a604f2 40%,
    #a604f2 60%,
    #763af5 80%
  );
  background-size: 200%;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  animation: text 4s linear infinite;
}

@keyframes text {
  to {
    background-position: 200% center;
  }
}
